/* sf */

@font-face {
    font-family: helvetica;
    src: url("../../fonts/helvetica/HelveticaNeueLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: helvetica;
    src: url("../../fonts/helvetica/HelveticaNeueThin.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: helvetica;
    src: url("../../fonts/helvetica/HelveticaNeueMedium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: helvetica;
    src: url("../../fonts/helvetica/HelveticaNeueBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
