html,
body {
    margin: 0;
    padding: 0;
}

.App {
    font-family: helvetica;
    background-color: black;
    background: url("./images/rain.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    position: relative;

    &.dark {
        background-image: url("./images/bg/dark2.jpg");
    }
}

.weather-display {
    flex: 1 0 100%;
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    @media (max-width: 1300px) {
        max-width: 967px;
    }
    @media (max-width: 967px) {
        max-width: 768px;
    }
    @media (max-width: 768px) {
        max-width: none;
        padding: 0 15px;
    }
}
